/*General Styles*/
breakpoint{
max-width: 100%;
display: inline-block;
}

/*sm*/
@media (min-width: 300px) {
breakpoint{
max-width: 25%

}
}
/*iPhone X?*/
@media (min-width: 375px) {
  breakpoint{
  max-width: 30%;
  }
}
/*iPhone 6 Plus*/
@media (min-width: 377px) {
  breakpoint{
    max-width: 45%;
  }
}
/*md*/
@media (min-width: 768px) {
  breakpoint{
    max-width: 60%;
  }
}
/*lg*/
@media (min-width: 992px) {
  breakpoint{
    max-width: 75%;
  }
}
/*xl*/
@media (min-width: 1200px) {
  breakpoint{
    max-width: 100%;
  }
}

margineado{
  margin-bottom: 1500;
}
