.sticky {
    position: sticky!important;
    display: block;
    position: -webkit-sticky!important;
    top: 5rem!important; /* required */
  }
.contenido-titulo {
    padding: 5rem 1rem;
}
.detalles-curso {
    background-color: rgb(245, 245, 245);
}
.boton-comprar-cursos {
    background-color: rgb(255, 94, 0)!important;
    width: 100%;
    font-size: 20px;
}
.contenido-curso {padding-top: 2rem;
    margin: 2rem 0;
    padding: 0;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}
.descripcion {
    padding: 0 3rem;
}
.titulo-contenido {
    padding: 1rem;
    background-color: #337ab7;
}