/*General Styles*/
breakpoint{
max-width: 100%;
display: inline-block;
}

/*sm*/
@media (min-width: 300px) {
breakpoint{
max-width: 25%

}
}
/*iPhone X?*/
@media (min-width: 375px) {
  breakpoint{
  max-width: 30%;
  }
}
/*iPhone 6 Plus*/
@media (min-width: 377px) {
  breakpoint{
    max-width: 45%;
  }
}
/*md*/
@media (min-width: 768px) {
  breakpoint{
    max-width: 60%;
  }
}
/*lg*/
@media (min-width: 992px) {
  breakpoint{
    max-width: 75%;
  }
}
/*xl*/
@media (min-width: 1200px) {
  breakpoint{
    max-width: 100%;
  }
}

.margineado{
  margin-bottom: 1500;
}

@keyframes roll {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes roll2 {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.animacion-flecha-abajo{
  animation: roll 0.5s;
}
.animacion-flecha-izquierda{
  animation: roll2 0.4s;
}
.h-scroll {
  height: 240px; 
  overflow-y: scroll;
  background: transparent;
  width: auto;
   
}
